*{
    margin: 0;
    padding: 0;
}

body{
    background: hsl(20, 50%, 98%);
    display: grid;
    grid-template-columns: 70% 30%;
}

.boxMain{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.boxMain section{
    width: calc(33.33% - 20px);
    border: 2px solid salmon;
}

.your-card{
    background: white;
    width: 100%;
    height: 200px;
}